In [1]:
import  json
from os import listdir
from os.path import isfile, join
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

Load the data from JSON

In [ ]:
data = json.load(open('rumoureval-subtaskA-train.json'))

dev = json.load(open('rumoureval-subtaskA-dev.json'))

Match the respective tweets by ID

In [ ]:
csv = open('traindata.csv', "w", encoding='utf-8-sig')
columnTitleRow = "ID,tweet_text,results\n"
csv.write(columnTitleRow)

for k,v in data.items():
    json_path=""
    mypath="C:/Users/Nicole/semeval2017-task8-dataset/rumoureval-data/"
    
    for d in listdir(mypath):
        for thread in listdir(mypath+d):
            if k == thread:
                json_path=mypath+d+"/"+thread+"/source-tweet/"+k+".json"
                break
            else:                
                reply_path=mypath+d+"/"+thread+"/replies/"
                if k+".json" in listdir(reply_path):
                    json_path=reply_path+k+".json"
                    break
        if json_path!="":
            break
    if (isfile(json_path)):
            source = json.load(open(json_path, 'r'))
            print(json_path)
    else:
        print ("False:" + k)
        print(json_path)
        print("end\n")
    #print (source)
    reply_tweet = source['text']
    reply_tweet = reply_tweet.replace("\n", " ")
    reply_tweet = reply_tweet.replace("\"", "\"\"")
    row = k + "," + "\"" + reply_tweet + "\"" + "," + v + "\n"
    csv.write(row)
    #print (source['text'])
    #print (v+"\n")

In [ ]:
dataset = pd.read_csv('traindata.csv', error_bad_lines=False)

In [ ]:
dataset.head()

In [ ]:
csv.close()

Information of the training data

In [ ]:
dataset.info()

use the following code to see if the data is loaded right

In [ ]:
dataset[dataset.isnull().any(axis=1)]

In [ ]:
np.sum(dataset.isnull().any(axis=1))

In [ ]:
dataset.isnull().any(axis=0)

In [ ]:
dataset = dataset.rename(columns={" tweet_text": "tweet_text", " results": "results"})

the tweets of different classes

In [ ]:
dataset['results'].value_counts()

The data is skew

we will need to try oversampling the 3 groups other than 'comment' group, devide them into 4 groups

In [ ]:
dfcomment = dataset[dataset.results == 'comment']

In [ ]:
dfsupport = dataset[dataset.results == 'support']

In [ ]:
dfdeny = dataset[dataset.results == 'deny']

In [ ]:
dfquery = dataset[dataset.results == 'query']

In [ ]:
dfquery.head()

# data cleansing

In [ ]:
dataset['text_len'] = [len(t) for t in dataset.tweet_text]

In [ ]:
dataset.head()

In [ ]:
fig, ax = plt.subplots(figsize=(5, 5))
plt.boxplot(dataset.text_len)
plt.show()

In [ ]:
testing = dataset[dataset['text_len']>140]

In [ ]:
testing.head()

tweet has length limit with 140, to see why they exceed 140

In [ ]:
testing['tweet_text'].iloc[1]

there are some HTML decoding problem

In [ ]:
len(testing['tweet_text'])

# HTML decoding

use the beautiful soup to do the html decoding

In [ ]:
from bs4 import BeautifulSoup

run a test on it

In [ ]:
example1 = BeautifulSoup(testing['tweet_text'].iloc[3], 'html.parser')
example1.get_text()

In [ ]:
example1

In [ ]:
# def tweet_cleaner(text):
#     example1 = BeautifulSoup(text, 'html.parser')
#     return example1.get_text()

In [ ]:
clean_tweet_texts = []
for i in dataset['tweet_text']:
    clean_tweet_texts.append(BeautifulSoup(i, 'html.parser').get_text())

In [ ]:
len(clean_tweet_texts)

In [ ]:
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df['results'] = dataset['results']
clean_df['ID'] = dataset['ID']
clean_df.head()

In [ ]:
htmldata.info()

In [ ]:
clean_df.to_csv('training_data_with_html_decode.csv', index = None)

In [2]:
htmldata = pd.read_csv('training_data_with_html_decode.csv')

In [5]:
htmldata

                                                   text  results            ID
0     @max843 @DanteB4u @Alasscan_  This shows Micha...  comment  5.017606e+17
1     @USATODAY Get ready to tweet the address #Spik...  comment  5.002702e+17
2     @rikermacdaniels @CBCAlerts @CBCNews @JustinTr...  comment  5.249712e+17
3                              @RT_com  Just kill them.  comment  5.528369e+17
4     @TheAnonMessage2 no, because that would requir...  support  5.002899e+17
5     @Simon_Cullen @HalaJaber AU GOV and Tony Abbot...  comment  5.442932e+17
6     @Kiippyy @KEEMSTARx u know theres some fucked ...  comment  5.442830e+17
7     @jlpauk why would the ferguson PD and STLCO PD...  comment  5.004067e+17
8     @140elect Here are pixs I have. http://t.co/jn...  comment  5.003002e+17
9         @RT_com @SpringboroTea http://t.co/5NjSg1pBSi  comment  5.528116e+17
10    @tdgecas yeah posting information about an evo...  comment  5.249383e+17
11             @FutbolLife @TransferSelect no he hasn't     deny  5.213608e+17
12    @CBCAlerts Hunt them down like the animals tha...  comment  5.249465e+17
13                       @Uber_Sydney @mtats Thank you!  comment  5.443475e+17
14                       @ArmedResearch Which accounts?    query  5.250207e+17
15    @DaliaChai @cnnbrk reason forthis massacre is ...  comment  5.528178e+17
16    @Gormanghast @BBCBreaking there are times we s...  comment  5.249591e+17
17    @France24_en @Sonia_Dridi For the record this ...  comment  5.535882e+17
18    @SharriMarkson   You are a danger to the rest ...  comment  5.442937e+17
19    Does this cartoon means that hatred cartoons t...    query  5.531963e+17
20    @BBCBreaking a bullet is just as evel as a bom...  comment  5.249571e+17
21    @CBSNews Your info is out of date. Rideau shoo...     deny  5.249927e+17
22    @KAEP555 @mashable He is large. In the store p...  comment  5.002948e+17
23    @col_livesey @BasimaFaysal @SkyNewsAust  It is...  support  5.443078e+17
24    @DaveBeninger  maybe you should get your info ...  comment  5.249554e+17
25    ‚Äú@AP: MORE: France: Shooting, hostage-taking a...  comment  5.535415e+17
26     @DanteB4u Absolutely my point!!  @orangeseahorse  comment  5.003015e+17
27    @CP24 I teared up when I heard.   RIP Cpl Ciri...  comment  5.250266e+17
28    @ShirazMaher @NickKristof ok. I would like to ...  comment  5.535651e+17
29                                @Angus_OL @horanosaur  comment  5.445206e+17
...                                                 ...      ...           ...
4209  @DaliaChai @hassanbasmer @cnnbrk they are disc...  comment  5.528114e+17
4210  @DeuceTony @YourAnonLive @OpFerguson they're n...  comment  5.002978e+17
4211  @hassanbasmer @Chusid2015 11million arabs/Musl...  comment  5.528195e+17
4212  @PatOndabak  Putin has gone 1 better Behold th...  comment  5.772872e+17
4213  @Wossyboo92 @SkyNews If they shoot him in the ...  comment  5.444858e+17
4214  @emaccaz_ @Angus_OL I DIDNT WATCH THE VIDEO I ...  comment  5.445207e+17
4215  @SputnikInt: UPDATE: #CharlieHebdo's editor-in...  support  5.528176e+17
4216  @larryelder @Just_a_Texan 1,800 plus black bab...  comment  4.996928e+17
4217  RT ‚Äú@WilliamsJon US evacuated Consulate in Syd...  support  5.443248e+17
4218       @latikambourke thanks for the update Latika.     deny  5.442940e+17
4219  Meanwhile, these nutbags still allowed to thre...  comment  5.443385e+17
4220  #BAMF #hero "@CP24: MPs credit sergeant-at-arm...  comment  5.249711e+17
4221  Suspects in #CharlieHebdo attack spoke to poli...  support  5.535052e+17
4222  @TheDailyEdge @ZaffodB I understand his reluct...  comment  5.004214e+17
4223  @NBCNews: Photos of alleged robbery involving ...  comment  5.002970e+17
4224                    @AP give the fuckers there wish  comment  5.535201e+17
4225  @BrwnSkinGirly stepped in the wrong part of to...  comment  5.003580e+17
4226  @veggietrunks @LisaBloom not necessarily. but ...  comment  5.004269e+17
4227                                 @TheBruun noooooo!  comment  5.297400e+17
4228  @CBCAlerts I had a feeling that was going to h...  comment  5.249767e+17
4229  ‚Äú@mashable: Uber says it has hiked prices in S...  support  5.443261e+17
4230  @CTVMontreal @careysmithctv if @JustinTrudeau ...  comment  5.249281e+17
4231  BREAKING NEWS: According to documents released...  support  5.002811e+17
4232                    @real_dashermace @cnnbrk FUCK U     deny  5.249882e+17
4233  ‚Äú@PzFeed: BREAKING NEWS: Gunmen take hostages ...  support  5.442825e+17
4234  @RT_com who gave them thinking of martyr? Thos...  comment  5.535059e+17
4235  @PzFeed @TipsForYouDaily wtf fuk u Islamic sta...  comment  5.442841e+17
4236  @Alasscan_ @DanteB4u Alasscan it's a lie. Pics...  support  5.003029e+17
4237  @SharriMarkson Sure hope it's not just some du...  comment  5.442937e+17
4238  @jlpauk @spants @rui_xu @flavius217 it is! I b...  comment  5.003209e+17

[4239 rows x 3 columns]

In [6]:
htmldata.head()

                                                text  results            ID
0  @max843 @DanteB4u @Alasscan_  This shows Micha...  comment  5.017606e+17
1  @USATODAY Get ready to tweet the address #Spik...  comment  5.002702e+17
2  @rikermacdaniels @CBCAlerts @CBCNews @JustinTr...  comment  5.249712e+17
3                           @RT_com  Just kill them.  comment  5.528369e+17
4  @TheAnonMessage2 no, because that would requir...  support  5.002899e+17

check the length again

In [ ]:
htmldata['text_len'] = [len(t) for t in htmldata.text]

In [ ]:
htmldata[htmldata['text_len']>140]

it's empty so we're good to go

In [ ]:
htmldata['text'].iloc[0]

In [ ]:
htmldata['text'].iloc[4217]

In [ ]:
htmldata['text'].iloc[9]

for pre-processing, there's a Python library which is used to deal with the tweets preprocessing, it will clean out:
URLs
Hashtags
Mentions

Emojis
Smileys

I decided to remove the URLs, Mentions,  Emojis, Smileys, numbers, but for hashtags, I will only remove the hashtag symbol and keep the word following the hashtag symbol as some of it is the part of the sentense and it's useful, so I'm not using the hashtags option here, and I will remove the Reserved words (RT, FAV) in the tweets

In [7]:
import preprocessor as p

In [8]:
p.set_options(p.OPT.URL, p.OPT.EMOJI, p.OPT.MENTION, p.OPT.RESERVED, p.OPT.NUMBER, p.OPT.SMILEY)

In [ ]:
p.clean('@max843 @DanteB4u @Alasscan_ This shows :)')

In [ ]:
re.sub(' RT|#', ' ', p.clean('Preprocessor is #awesome üëç https://github.com/s/preprocessor RTl'))

In [ ]:
re.sub(' RT|#', '', ' RT Get ready to tweet the address #Spik')

make small tests first

In [ ]:
p.clean(htmldata['text'].iloc[0])

In [ ]:
re.sub(' RT', ' ', p.clean(htmldata['text'].iloc[0]))

In [ ]:
htmldata['text'].iloc[4217]

In [ ]:
p.clean(htmldata['text'].iloc[4217])

remove punctuations, non-alphabaet characters and separates the word with a single space

In [ ]:
' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",testtext).split())

do it on all the data

In [9]:
clean_tweet_texts1 = []
for i in htmldata['text']:
    clean_tweet_texts1.append(re.sub(' RT|#', '',p.clean(i))) #remove 'RT' and hashtags

In [ ]:
# clean_tweet_texts2 = []
# for i in clean_tweet_texts1:
#     clean_tweet_texts2.append(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",i).split()))

In [10]:
clean_tweet_texts2_df = pd.DataFrame(clean_tweet_texts1,columns=['text'])
clean_tweet_texts2_df['results'] = htmldata['results']
clean_tweet_texts2_df['ID'] = htmldata['ID']
clean_tweet_texts2_df.head()

                                                text  results            ID
0  This shows Michael paid for cigarillos. No rob...  comment  5.017606e+17
1  Get ready to tweet the address SpikeLee and ot...  comment  5.002702e+17
2  your radical Muslims are being funded by Ameri...  comment  5.249712e+17
3                                    Just kill them.  comment  5.528369e+17
4  no, because that would require reasoning and t...  support  5.002899e+17

In [11]:
clean_tweet_texts2_df['text'].iloc[0]

'This shows Michael paid for cigarillos. No robbery, no crime! Pls'

In [12]:
clean_tweet_texts2_df.to_csv('clean_trainingdata.csv', index = None)

In [13]:
df = pd.read_csv('clean_trainingdata.csv')

In [ ]:
df = clean_tweet_texts2_df

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4239 entries, 0 to 4238
Data columns (total 3 columns):
text       4139 non-null object
results    4238 non-null object
ID         4238 non-null float64
dtypes: float64(1), object(2)
memory usage: 99.4+ KB

In [15]:
df[df.isnull().any(axis=1)]

                                                   text  results            ID
9                                                   NaN  comment  5.528116e+17
29                                                  NaN  comment  5.445206e+17
62                                                  NaN  comment  5.249378e+17
64                                                  NaN    query  5.535916e+17
95                                                  NaN  comment  5.445189e+17
112                                                 NaN  comment  5.535353e+17
150                                                 NaN  comment  5.249336e+17
281                                                 NaN  comment  5.442908e+17
375                                                 NaN  comment  5.443494e+17
380                                                 NaN  comment  5.445204e+17
485                                                 NaN  comment  5.535594e+17
501                                                 NaN  comment  5.249642e+17
636                                                 NaN  support  5.443796e+17
647                                                 NaN  comment  5.444805e+17
708                                                 NaN  comment  5.531153e+17
767                                                 NaN  support  5.443589e+17
769                                                 NaN  comment  5.544124e+17
793                                                 NaN  comment  5.006594e+17
851                                                 NaN  comment  5.535943e+17
887                                                 NaN  comment  5.249357e+17
894                                                 NaN  comment  5.296616e+17
950                                                 NaN    query  5.443984e+17
956                                                 NaN  comment  5.446604e+17
1038                                                NaN    query  5.003176e+17
1108                                                NaN     deny  5.528510e+17
1176                                                NaN  comment  5.445111e+17
1186                                                NaN  comment  5.535073e+17
1255                                                NaN  support  5.536026e+17
1287                                                NaN  comment  5.004429e+17
1301                                                NaN  comment  5.444057e+17
...                                                 ...      ...           ...
3113                                                NaN  comment  5.765146e+17
3130                                                NaN  comment  5.534797e+17
3134                                                NaN  support  5.535493e+17
3147                                                NaN  comment  5.249819e+17
3277                                                NaN  comment  5.446020e+17
3323                                                NaN  support  5.250650e+17
3426                                                NaN  comment  5.249454e+17
3451                                                NaN  comment  5.535892e+17
3494                                                NaN  comment  5.249258e+17
3500                                                NaN  support  4.997524e+17
3510                                                NaN  comment  5.214684e+17
3552                                                NaN  comment  5.445155e+17
3583                                                NaN  comment  5.444841e+17
3604  literally...when these terrorists attacks goin...      NaN           NaN
3616                                                NaN  comment  5.534895e+17
3631                                                NaN  comment  5.528148e+17
3654                                                NaN  comment  5.534643e+17
3658                                                NaN  comment  5.535033e+17
3752                                                NaN  comment  5.768140e+17
3783                                                NaN  comment  5.002794e+17
3841                                                NaN  comment  5.528080e+17
3874                                                NaN  support  5.531094e+17
3925                                                NaN  comment  5.249641e+17
3943                                                NaN  support  5.002776e+17
3967                                                NaN  comment  5.249830e+17
4004                                                NaN  support  5.527922e+17
4011                                                NaN  comment  5.528368e+17
4015                                                NaN  comment  5.443431e+17
4053                                                NaN  comment  5.249256e+17
4181                                                NaN  comment  5.002789e+17

[101 rows x 3 columns]

In [ ]:
dataset.iloc[62]

In [18]:
htmldata.iloc[1108]

text       @Slate @jasonCwaite http://t.co/FDMCU0siks
results                                          deny
ID                                        5.52851e+17
Name: 1108, dtype: object

remove those empty texts

In [19]:
df.dropna(inplace=True)

In [ ]:
df.info()

In [20]:
df.to_csv('clean_trainingdata.csv', index = None)

In [21]:
df['results'].value_counts()

comment    2661
support     824
deny        328
query       325
Name: results, dtype: int64

In [22]:
dfcomment = df[df.results == 'comment']
dfsupport = df[df.results == 'support']
dfdeny = df[df.results == 'deny']
dfquery = df[df.results == 'query']

In [ ]:
newdf2 = pd.concat([dfsupport, dfsupport])

In [ ]:
len(newdf2)

In [ ]:
newdf = pd.concat([newdf, newdf]) #oversample the deny

In [ ]:
newdf1 = pd.concat([newdf1, newdf1]) #oversample the query

In [ ]:
newdf2 = pd.concat([newdf2, dfsupport]) #oversample the support

In [ ]:
newdataset = pd.concat([newdf2, dfcomment,newdf,newdf1])

In [ ]:
newdataset.info()

In [ ]:
newdataset.to_csv('new_trainingdata.csv', index = None)

In [ ]:
newdataset = pd.read_csv('new_trainingdata.csv')

In [ ]:
newdataset.head()

In [ ]:
newdataset.info()

tokenize the texts

In [ ]:
from nltk.tokenize import TweetTokenizer

In [ ]:
tknzr = TweetTokenizer(strip_handles=True, reduce_len=True)

In [ ]:
temp = [] 
for x in newdataset['text']:
    temp.append(tknzr.tokenize(x))
temp = pd.Series(temp)
newdataset['reply_text'] = temp

In [ ]:
newdataset.head()

shuffle the data

In [ ]:
newdataset.sample(len(newdataset))

Found that some abbreviation are tokenized incorrectly, so we need to go back and modify the cleansing process,