In [1]:
import  json
from os import listdir
from os.path import isfile, join
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

Load the data from JSON

In [ ]:
data = json.load(open('rumoureval-subtaskA-train.json'))

dev = json.load(open('rumoureval-subtaskA-dev.json'))

Match the respective tweets by ID

In [ ]:
csv = open('traindata.csv', "w", encoding='utf-8-sig')
columnTitleRow = "ID,tweet_text,results\n"
csv.write(columnTitleRow)

for k,v in data.items():
    json_path=""
    mypath="C:/Users/Nicole/semeval2017-task8-dataset/rumoureval-data/"
    
    for d in listdir(mypath):
        for thread in listdir(mypath+d):
            if k == thread:
                json_path=mypath+d+"/"+thread+"/source-tweet/"+k+".json"
                break
            else:                
                reply_path=mypath+d+"/"+thread+"/replies/"
                if k+".json" in listdir(reply_path):
                    json_path=reply_path+k+".json"
                    break
        if json_path!="":
            break
    if (isfile(json_path)):
            source = json.load(open(json_path, 'r'))
            print(json_path)
    else:
        print ("False:" + k)
        print(json_path)
        print("end\n")
    #print (source)
    reply_tweet = source['text']
    reply_tweet = reply_tweet.replace("\n", " ")
    reply_tweet = reply_tweet.replace("\"", "\"\"")
    row = k + "," + "\"" + reply_tweet + "\"" + "," + v + "\n"
    csv.write(row)
    #print (source['text'])
    #print (v+"\n")

In [2]:
dataset = pd.read_csv('traindata.csv', error_bad_lines=False)

In [ ]:
dataset.head()

In [ ]:
csv.close()

Information of the training data

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 3 columns):
ID             4238 non-null int64
 tweet_text    4238 non-null object
 results       4238 non-null object
dtypes: int64(1), object(2)
memory usage: 99.4+ KB

use the following code to see if the data is loaded right

In [ ]:
dataset[dataset.isnull().any(axis=1)]

In [8]:
np.sum(dataset.isnull().any(axis=1))

0

In [ ]:
dataset.isnull().any(axis=0)

In [4]:
dataset = dataset.rename(columns={" tweet_text": "tweet_text", " results": "results"})

the tweets of different classes

In [5]:
dataset['results'].value_counts()

comment    2734
support     841
deny        333
query       330
Name: results, dtype: int64

The data is skew

we will need to try oversampling the 3 groups other than 'comment' group, devide them into 4 groups

In [ ]:
dfcomment = dataset[dataset.results == 'comment']

In [ ]:
dfsupport = dataset[dataset.results == 'support']

In [ ]:
dfdeny = dataset[dataset.results == 'deny']

In [ ]:
dfquery = dataset[dataset.results == 'query']

In [ ]:
dfquery.head()

# data cleansing

In [ ]:
dataset['text_len'] = [len(t) for t in dataset.tweet_text]

In [ ]:
dataset.head()

In [ ]:
fig, ax = plt.subplots(figsize=(5, 5))
plt.boxplot(dataset.text_len)
plt.show()

In [ ]:
testing = dataset[dataset['text_len']>140]

In [ ]:
testing.head()

tweet has length limit with 140, to see why they exceed 140

In [ ]:
testing['tweet_text'].iloc[1]

there are some HTML decoding problem

In [ ]:
len(testing['tweet_text'])

# HTML decoding

use the beautiful soup to do the html decoding

In [10]:
from bs4 import BeautifulSoup

run a test on it

In [ ]:
example1 = BeautifulSoup(testing['tweet_text'].iloc[3], 'html.parser')
example1.get_text()

In [ ]:
example1

In [ ]:
# def tweet_cleaner(text):
#     example1 = BeautifulSoup(text, 'html.parser')
#     return example1.get_text()

In [11]:
clean_tweet_texts = []
for i in dataset['tweet_text']:
    clean_tweet_texts.append(BeautifulSoup(i, 'html.parser').get_text())

In [12]:
len(clean_tweet_texts)

4238

In [13]:
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df['results'] = dataset['results']
clean_df['ID'] = dataset['ID']
clean_df.head()

,text,results,ID
0,@max843 @DanteB4u @Alasscan_ This shows Micha...,comment,501760642928635904
1,@USATODAY Get ready to tweet the address #Spik...,comment,500270212198174720
2,@rikermacdaniels @CBCAlerts @CBCNews @JustinTr...,comment,524971210275565568
3,@RT_com Just kill them.,comment,552836882770690049
4,"@TheAnonMessage2 no, because that would requir...",support,500289931097296897

In [18]:
htmldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 3 columns):
text       4238 non-null object
results    4238 non-null object
ID         4238 non-null int64
dtypes: int64(1), object(2)
memory usage: 99.4+ KB

In [ ]:
clean_df.to_csv('training_data_with_html_decode.csv', index = None)

In [ ]:
htmldata = pd.read_csv('training_data_with_html_decode.csv')

In [17]:
htmldata

check the length again

In [ ]:
htmldata['text_len'] = [len(t) for t in htmldata.text]

In [ ]:
htmldata[htmldata['text_len']>140]

it's empty so we're good to go

In [ ]:
htmldata['text'].iloc[0]

In [ ]:
htmldata['text'].iloc[4217]

In [ ]:
htmldata['text'].iloc[9]

for pre-processing, there's a Python library which is used to deal with the tweets preprocessing, it will clean out:
URLs
Hashtags
Mentions

Emojis
Smileys

I decided to remove the URLs, Mentions,  Emojis, Smileys, numbers, but for hashtags, I will only remove the hashtag symbol and keep the word following the hashtag symbol as some of it is the part of the sentense and it's useful, so I'm not using the hashtags option here, and I will remove the Reserved words (RT, FAV) in the tweets

In [15]:
import preprocessor as p

In [16]:
p.set_options(p.OPT.URL, p.OPT.EMOJI, p.OPT.MENTION, p.OPT.RESERVED, p.OPT.NUMBER, p.OPT.SMILEY)

In [ ]:
re.sub(' RT| FAV', ' ', p.clean('Preprocessor is #awesome üëç https://github.com/s/preprocessor RTl'))

make small tests first

In [ ]:
p.clean(htmldata['text'].iloc[0])

In [ ]:
re.sub(' RT', ' ', p.clean(htmldata['text'].iloc[0]))

In [ ]:
htmldata['text'].iloc[4217]

In [ ]:
p.clean(htmldata['text'].iloc[4217])

remove punctuations, non-alphabaet characters and separates the word with a single space

In [ ]:
' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",testtext).split())

do it on all the data

In [19]:
clean_tweet_texts1 = []
for i in htmldata['text']:
    clean_tweet_texts1.append(re.sub(' RT', ' ',p.clean(i)))

In [20]:
clean_tweet_texts2 = []
for i in clean_tweet_texts1:
    clean_tweet_texts2.append(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",i).split()))

In [21]:
clean_tweet_texts2_df = pd.DataFrame(clean_tweet_texts2,columns=['text'])
clean_tweet_texts2_df['results'] = htmldata['results']
clean_tweet_texts2_df['ID'] = htmldata['ID']
clean_tweet_texts2_df.head()

,text,results,ID
0,This shows Michael paid for cigarillos No robb...,comment,501760642928635904
1,Get ready to tweet the address SpikeLee and ot...,comment,500270212198174720
2,your radical Muslims are being funded by Ameri...,comment,524971210275565568
3,Just kill them,comment,552836882770690049
4,no because that would require reasoning and th...,support,500289931097296897

In [ ]:
clean_tweet_texts2_df['text'].iloc[0]

In [30]:
clean_tweet_texts2_df.to_csv('clean_trainingdata.csv', index = None)

In [31]:
df = pd.read_csv('clean_trainingdata.csv')

In [23]:
df = clean_tweet_texts2_df

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 3 columns):
text       4136 non-null object
results    4238 non-null object
ID         4238 non-null int64
dtypes: int64(1), object(2)
memory usage: 99.4+ KB

In [33]:
df[df.isnull().any(axis=1)]

     text  results                  ID
9     NaN  comment  552811591683821568
29    NaN  comment  544520601038098433
62    NaN  comment  524937817924067328
64    NaN    query  553591557325336576
95    NaN  comment  544518918912495616
112   NaN  comment  553535342049902592
150   NaN  comment  524933596113801218
281   NaN  comment  544290755624198144
375   NaN  comment  544349387741495296
380   NaN  comment  544520377162952704
485   NaN  comment  553559389102026752
501   NaN  comment  524964193813155841
636   NaN  support  544379605818159104
647   NaN  comment  544480456478314496
708   NaN  comment  553115272031113216
767   NaN  support  544358922904420352
769   NaN  comment  554412391279374336
793   NaN  comment  500659434558087168
851   NaN  comment  553594257593106432
887   NaN  comment  524935683908333569
894   NaN  comment  529661580649459712
950   NaN    query  544398446568820736
956   NaN  comment  544660449669967872
1038  NaN    query  500317606717693952
1108  NaN     deny  552850999443202049
1176  NaN  comment  544511082472415232
1186  NaN  comment  553507344932294657
1255  NaN  support  553602592828563456
1287  NaN  comment  500442891102081024
1288  NaN    query  524961925239959552
...   ...      ...                 ...
3113  NaN  comment  576514586087714817
3130  NaN  comment  553479692133470209
3134  NaN  support  553549302187192320
3147  NaN  comment  524981867876212736
3277  NaN  comment  544601984800534528
3323  NaN  support  525065014281908224
3426  NaN  comment  524945376911314945
3451  NaN  comment  553589221328715776
3494  NaN  comment  524925756087214082
3500  NaN  support  499752447930155008
3510  NaN  comment  521468392620834817
3552  NaN  comment  544515461694889985
3583  NaN  comment  544484075994509312
3615  NaN  comment  553489533526765568
3630  NaN  comment  552814818986844160
3653  NaN  comment  553464272043638785
3657  NaN  comment  553503283986563073
3751  NaN  comment  576813964375523328
3782  NaN  comment  500279384075685888
3840  NaN  comment  552807952315207680
3873  NaN  support  553109367042887680
3921  NaN  comment  500316980130619392
3924  NaN  comment  524964141296259072
3942  NaN  support  500277616587587584
3966  NaN  comment  524983036098924545
4003  NaN  support  552792212056993792
4010  NaN  comment  552836806065262594
4014  NaN  comment  544343136559169537
4052  NaN  comment  524925553070329856
4180  NaN  comment  500278888216268800

[102 rows x 3 columns]

In [38]:
dataset.iloc[62]

ID            524937817924067328
tweet_text         @globeandmail
results                  comment
Name: 62, dtype: object

remove those empty texts

In [39]:
df.dropna(inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4136 entries, 0 to 4237
Data columns (total 3 columns):
text       4136 non-null object
results    4136 non-null object
ID         4136 non-null int64
dtypes: int64(1), object(2)
memory usage: 129.2+ KB

In [44]:
df.to_csv('trainingdataset.csv', index = None)

In [45]:
df['results'].value_counts()

comment    2660
support     824
deny        328
query       324
Name: results, dtype: int64

In [47]:
dfcomment = df[df.results == 'comment']
dfsupport = df[df.results == 'support']
dfdeny = df[df.results == 'deny']
dfquery = df[df.results == 'query']

In [65]:
newdf2 = pd.concat([dfsupport, dfsupport])

In [68]:
len(newdf2)

2472

In [55]:
newdf = pd.concat([newdf, newdf]) #oversample the deny

In [60]:
newdf1 = pd.concat([newdf1, newdf1]) #oversample the query

In [67]:
newdf2 = pd.concat([newdf2, dfsupport]) #oversample the support

In [69]:
newdataset = pd.concat([newdf2, dfcomment,newdf,newdf1])

In [71]:
newdataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10348 entries, 4 to 4202
Data columns (total 3 columns):
text       10348 non-null object
results    10348 non-null object
ID         10348 non-null int64
dtypes: int64(1), object(2)
memory usage: 323.4+ KB

In [72]:
newdataset.to_csv('new_trainingdata.csv', index = None)

In [6]:
newdataset = pd.read_csv('new_trainingdata.csv')

In [8]:
newdataset.head()

,text,results,ID
0,no because that would require reasoning and th...,support,500289931097296897
1,It is according to this terrorism eert,support,544307827070615553
2,The day Ferguson cops told a dirty bloody lie via,support,500319801344929795
3,Several hostages freed at Jewish supermarket i...,support,553589051044151296
4,Shooter still on loose after uniformed soldier...,support,524925730053181440

In [9]:
newdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10348 entries, 0 to 10347
Data columns (total 3 columns):
text       10348 non-null object
results    10348 non-null object
ID         10348 non-null int64
dtypes: int64(1), object(2)
memory usage: 242.6+ KB

tokenize the texts

In [10]:
from nltk.tokenize import TweetTokenizer

In [11]:
tknzr = TweetTokenizer(strip_handles=True, reduce_len=True)

In [12]:
temp = [] 
for x in newdataset['text']:
    temp.append(tknzr.tokenize(x))
temp = pd.Series(temp)
newdataset['reply_text'] = temp

In [13]:
newdataset.head()

,text,results,ID,reply_text
0,no because that would require reasoning and th...,support,500289931097296897,"[no, because, that, would, require, reasoning,..."
1,It is according to this terrorism eert,support,544307827070615553,"[It, is, according, to, this, terrorism, eert]"
2,The day Ferguson cops told a dirty bloody lie via,support,500319801344929795,"[The, day, Ferguson, cops, told, a, dirty, blo..."
3,Several hostages freed at Jewish supermarket i...,support,553589051044151296,"[Several, hostages, freed, at, Jewish, superma..."
4,Shooter still on loose after uniformed soldier...,support,524925730053181440,"[Shooter, still, on, loose, after, uniformed, ..."

shuffle the data

In [14]:
newdataset.sample(len(newdataset))

,text,results,ID,reply_text
9481,Absolutely,query,500303993805889537,[Absolutely]
5919,CTV just said he is being treated and is stable,deny,524952460897828865,"[CTV, just, said, he, is, being, treated, and,..."
211,You re welcome,support,500298596772622336,"[You, re, welcome]"
8617,why are there no police,query,524935505755254786,"[why, are, there, no, police]"
7472,How the fuck you comparing a whole race too a ...,deny,499689337370324992,"[How, the, fuck, you, comparing, a, whole, rac..."
2713,good,comment,552804602702475265,[good]
2529,good work,comment,553591773537513473,"[good, work]"
8375,AND war memorial or is this same,query,524924074087436289,"[AND, war, memorial, or, is, this, same]"
3162,Affluent people and those in authority take it...,comment,500344847661006848,"[Affluent, people, and, those, in, authority, ..."
4585,key word create if that were true that could v...,comment,500279655925293058,"[key, word, create, if, that, were, true, that..."
1572,Police taking people out of Paris grocery wher...,support,553588250087268352,"[Police, taking, people, out, of, Paris, groce..."
9893,what s happened to the guy,query,544519768850841600,"[what, s, happened, to, the, guy]"
6216,This fucking moron has an IQ of admission to m...,deny,500345018926645250,"[This, fucking, moron, has, an, IQ, of, admiss..."
1782,Official gunman holding at least hostages in P...,support,553580837477056514,"[Official, gunman, holding, at, least, hostage..."
1408,MORE Police confirm hostages escape Sydney caf...,support,544367462012432384,"[MORE, Police, confirm, hostages, escape, Sydn..."
6371,aw,deny,553647665695956992,[aw]
4393,that s why the police s testimony has been con...,comment,500395125802278912,"[that, s, why, the, police, s, testimony, has,..."
3195,pm grateful for that tweet,comment,553195530273456128,"[pm, grateful, for, that, tweet]"
581,CharlieHebdo dead including police in Paris sh...,support,552808923707617282,"[CharlieHebdo, dead, including, police, in, Pa..."
8963,Urgent Fearmonger much,query,500335190146056192,"[Urgent, Fearmonger, much]"
1138,Prince rumoured to be performing in surprise s...,support,529654186791944192,"[Prince, rumoured, to, be, performing, in, sur..."
7613,no they did not,deny,500382947229581312,"[no, they, did, not]"
8216,any timeline on when the general public gets t...,query,524981904131764224,"[any, timeline, on, when, the, general, public..."
1307,Hostages now,support,544309589575864320,"[Hostages, now]"
2189,Several more hostages flee from cafe under sie...,support,544510450101415936,"[Several, more, hostages, flee, from, cafe, un..."
1651,Several hostages freed at Jewish supermarket i...,support,553589051044151296,"[Several, hostages, freed, at, Jewish, superma..."
1192,BREAKING Michael Zehaf Bebeau had been designa...,support,525032872647065600,"[BREAKING, Michael, Zehaf, Bebeau, had, been, ..."
594,The of us are watching this unfold I m shaking...,support,544520944148963328,"[The, of, us, are, watching, this, unfold, I, ..."
3680,What s the matter with ppl crazy fuck,comment,524983426072731648,"[What, s, the, matter, with, ppl, crazy, fuck]"
2960,Uber trips out of the CBD today are free to he...,comment,544346961097138176,"[Uber, trips, out, of, the, CBD, today, are, f..."
...,...,...,...,...
4328,In response to inquiries we can confirm that P...,comment,529720542925176832,"[In, response, to, inquiries, we, can, confirm..."
1996,BREAKING The soldier who was shot in Ottawa We...,support,524968425685516288,"[BREAKING, The, soldier, who, was, shot, in, O..."
5711,RamzanKadyrov A Sunni Muslim Russian Chechen U...,deny,576278902185705472,"[RamzanKadyrov, A, Sunni, Muslim, Russian, Che..."
6649,I believe the robbery actually did happen and ...,deny,500383183217913856,"[I, believe, the, robbery, actually, did, happ..."
2875,ITS A KOSHER JEWISH SUPERMARKET THEY CHOSE IT ...,comment,553580571985580032,"[ITS, A, KOSHER, JEWISH, SUPERMARKET, THEY, CH..."
2045,oh god,support,524957131930624000,"[oh, god]"
4263,They charged me 215 for a 20 fare Neveer use t...,comment,544324734947577856,"[They, charged, me, 215, for, a, 20, fare, Nev..."
7760,source,query,499456567990026240,[source]
10201,so free or surge pricing confused,query,544331615812345856,"[so, free, or, surge, pricing, confused]"
4935,your defense and justification of Islamic terr...,comment,524970031856488448,"[your, defense, and, justification, of, Islami..."
7597,Nothing in that video provides concrete eviden...,deny,500348984347860992,"[Nothing, in, that, video, provides, concrete,..."
5634,Police have clarified that there were two shoo...,deny,524990163446140928,"[Police, have, clarified, that, there, were, t..."
8367,may be prudent to ask clerk if Brown was the o...,query,500378498054500352,"[may, be, prudent, to, ask, clerk, if, Brown, ..."
5572,I don t think he s a good leader at all he s t...,deny,525029545540612096,"[I, don, t, think, he, s, a, good, leader, at,..."
7138,The Liberal leftist should be feeling as good ...,deny,552813563283509248,"[The, Liberal, leftist, should, be, feeling, a..."
716,Ray Hadley says he spoke with hostage and coul...,support,544319274072817664,"[Ray, Hadley, says, he, spoke, with, hostage, ..."
354,Our thoughts and prayers go out to Nathan Ciri...,support,525058976376193024,"[Our, thoughts, and, prayers, go, out, to, Nat..."
10280,Hardly dont hear about a school shooting or sp...,query,524930651964051456,"[Hardly, dont, hear, about, a, school, shootin..."
348,BREAKING The soldier who was shot in Ottawa We...,support,524968425685516288,"[BREAKING, The, soldier, who, was, shot, in, O..."
7905,is it over or are they still looking for the g...,query,525001263922937857,"[is, it, over, or, are, they, still, looking, ..."
6967,shahada flag is a generic flag not unique to a...,deny,544280949496619009,"[shahada, flag, is, a, generic, flag, not, uni..."
8703,If they were criminals why did the police not ...,query,500306952241840128,"[If, they, were, criminals, why, did, the, pol..."
98,Media have surrounded this building,support,553511652587360256,"[Media, have, surrounded, this, building]"
1747,Uber is covering the cost of all rides,support,544347330166530049,"[Uber, is, covering, the, cost, of, all, rides]"
3774,Up to held hostage in Sydney Lindt Cafe siege ...,comment,544289312314228737,"[Up, to, held, hostage, in, Sydney, Lindt, Caf..."
975,Line of police cars with high beams on greets ...,support,499366666300846081,"[Line, of, police, cars, with, high, beams, on..."
5683,no he was walking IN the street big difference,deny,501730232790183936,"[no, he, was, walking, IN, the, street, big, d..."
5696,new bill Stop Militarizing Law Enforcement act...,deny,500400826507341825,"[new, bill, Stop, Militarizing, Law, Enforceme..."
5712,LIES,deny,500283804272328704,[LIES]
3553,Agreed I have been pointing this out btw,comment,544298416571179008,"[Agreed, I, have, been, pointing, this, out, btw]"